<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">

    <!-- simple materials -->
    <material name="grey"><color rgba="0.6 0.6 0.6 1"/></material>
    <material name="blue"><color rgba="0.2 0.2 0.8 1"/></material>
    <material name="black"><color rgba="0.05 0.05 0.05 1"/></material>
    <material name="white"><color rgba="0.9 0.9 0.9 1"/></material>

</robot>