<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Required Gazebo system plugins -->
    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
        </plugin>
    </gazebo>

    <gazebo>
        <plugin filename="gz_ros2_control-system"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find arm_description)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>